<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Exotic Car Rentals</title>
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
	<nav>
		<div>
			<a href="/" th:href="@{/}" class="logo">EXOTIC CAR RENTALS</a>
		</div>
		<div class="nav-content">
			<div sec:authorize="!isAuthenticated()">
				<a href="/login" th:href="@{/login}">Account</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="dropdown">
				<i class='fas fa-user' style='color: #eee'></i><span
					sec:authentication="name" class="dropbtn"></span> <span
					class="dropdown-content"> <a href="#" th:href="@{/logout}"
					class="button">Logout</a>
				</span>
			</div>
			<div>
				<a href="/ContactUs" th:href="@{/ContactUs}">Contact Us</a>
			</div>
		</div>
	</nav>
<header class="homepage">
		<br> <br> <br> <br>
		<div class="card">
			<h1 class="center">Make your Dream come true.</h1>
			<h2 class="center">Rent your dream car today.</h2>
			<p class="center">We have got a lot of variety of cars from
				different manufacturer.</p>
			<br>
			<p class="center">
				
			</p>
		</div>

	</header>
	<section>
		<div class="brandGrid">
			<div><a href="" th:href="@{/findByMake/Audi}"><img src="/./Images/Logos/AudiLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/BMW}"><img src="/./Images/Logos/BMWLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Bugatti}"><img src="/./Images/Logos/BugattiLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Ferrari}"><img src="/./Images/Logos/FerrariLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Lamborghini}"><img src="/./Images/Logos/LamborghiniLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Mercedes}"><img src="/./Images/Logos/MercedesLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Porsche}"><img src="/./Images/Logos/PorscheLogo.png" class="brandLogo"></a></div>
			<div><a href="" th:href="@{/findByMake/Tesla}"><img src="/./Images/Logos/TeslaLogo.png" class="brandLogo"></a></div>
			
		</div>
	</section>


</body>
</html>