<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Exotic Car Rentals</title>
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body class="selectDate">
	<nav>
		<div>
			<a href="/" th:href="@{/}" class="logo">EXOTIC CAR RENTALS</a>
		</div>
		<div class="nav-content">
			<div sec:authorize="!isAuthenticated()">
				<a href="/login" th:href="@{/login}">Account</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="dropdown">
				<i class='fas fa-user' style='color: #eee'></i><span
					sec:authentication="name" class="dropbtn"></span> <span
					class="dropdown-content"> <a href="#" th:href="@{/logout}"
					class="button">Logout</a>
				</span>
			</div>
			<div>
				<a href="/ContactUs" th:href="@{/ContactUs}">Contact Us</a>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<br>

	<form name="form" action="#" th:action="@{/bookConfirm}" method="post"
		th:object="${rentorder}" class="bookingForm">
		<h2>Select the date you want to rent.</h2>
		<br> <br>
		<div class="row">
			<input type="hidden" name="id" th:field="*{id}" th:value="*{id}" />
			<input type="hidden" name="car" th:field="*{car}" th:value="*{car}" />
			<input type="hidden" name="customer" th:field="*{customer}"
				th:value="*{customer}" />
			<div>
				<label> Pick-up Date </label><br> <input type="date"
					th:field="*{startDate}" name="startDate" required />
			</div>
			<div>
				<label> Drop-off Date </label><br> <input type="date"
					th:field="*{endDate}" name="endDate" required />
			</div>
			<div><h2>Enter your Email !</h2>
				<input type="email" name="email" />
				<input type="submit" value="Book" class="button" />
			</div>
		</div>
	</form>

</body>
</html>